body {
	background-color: black;
	color: white;
	font-family: 'Bubbler One', sans-serif;
	max-width: 1040px;
	min-width: 950px;
	margin: auto;
}

.page-title {
	align-content: center;	
	display: flex;
	color: steelblue;
	flex-wrap: nowrap;
	flex: 1 1 75%;
	font-size: 50px;
	justify-content: center;
}
.main-logo {
	display: flex;
	margin: auto;	
}

.episode-title {
	font-size: 35px;
	color: purple;
}

.episode-title a {
	text-decoration: none;
	color: purple;
}

.episode-title a:hover {
	color: lightblue;
}


.episode-info {
	display: flex;
	margin: 10px;
	align-content: center;
	justify-content: flex-start;	
}

.episode-info li {
	list-style: none;
	padding: 0px 20px;
	font-size: 25px;
}

.review-content {
	display: flex;
}

.review-content li {
	list-style: none;
	align-content: center;
	justify-content: space-around
	padding: 5px 25px;
}

.description {
	font-size: 20px;
	margin-right: 75px;
}

.episode-image {
	margin-right: 60px;
}

.rating {
	display: flex;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
}

.go-back-link {
	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 18px;
	text-decoration: none;
	color: lightblue;
	margin: 10px;
}

.go-back-link:hover {
	color: white;
}

.copyright {
	display: flex;
	align-content: center;
	justify-content: center;
}

