<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Star Trek TNG Season 5 Reviews</title>
</head>
<body>
	<h1>Star Trek The Next Generation Season 5 Reviews</h1>
	
	<div th:each="reviews: ${reviewsAsCollection}"> 
	<h2 th:text="${reviews.episodeTitle}"/>
	<h3 th:text="' Episode: ' + ${reviews.episodeNumber}"/>
	<h4 th:text="'Air Date: ' + ${reviews.airDate}"/>
	<p th:text="'Description: ' + ${reviews.description}"/> 
	<p th:text="'Episode Rating: ' + ${reviews.reviewRating}"/>
	</div>


</body>
<footer>All STAR TREK trademarks and logos are owned by CBS Studios Inc.</footer>
</html>