<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Star Trek TNG Season 5 Reviews</title>
	<link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	<h1 class="page-title">Star Trek The Next Generation Season 5</h1>

	<div class="review-container"> 
		<h2 class="episode-title" th:text="${review.episodeTitle}"/>
		<h3>
			<ul class="episode-info">
				<li th:text="' Episode: ' + ${review.episodeNumber}"/>
				<li th:text="' Air Date: ' + ${review.airDate}"/>
			</ul>
		</h3>
		<ul class="review-content">
			<li><p class="description" th:text="'Description: ' + ${review.description}"/></li>
			<li><img class="episode-image" th:src="${review.imageUrl}"/></li>
		</ul>
		<p class="rating" th:text="'Episode Rating: ' + ${review.reviewRating}"/>

	</div>


	<a class="go-back-link" th:href="@{/reviews}">Back to Season 5 Reviews</a>

</body>
<footer class="copyright">All STAR TREK trademarks and logos are owned by CBS Studios Inc.</footer>
</html>